html {
    font-size: 62.5%;
}

body {
    font-family: $font_all;
    color: $color_black;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: normal;
    background-repeat: no-repeat;
    background-color: #ffffff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-print-color-adjust: exact;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

ul[class],
ol[class] {
    list-style: none;
}

a,
a:hover,
a:visited {
    outline: none;
    border: none;
    text-decoration: none;
    color: inherit;
}

::selection {
    background-color: $color_black;
    color: $color_white;
}

.disnone {
    display: none;
}

.sp {
    display: none;
}

@media #{$media-sm} {
    .sp {
        display: block;
    }

    .pc {
        display: none;
    }
}
