// Sizes
$pc-base-size: 1440;
$sp-base-size: 750;
$switch-size: 768;

// Media Queries
$media_sm: 'screen and (max-width:#{$switch-size}px)';
$media_pc: 'screen and (min-width:#{$switch-size+1}px)';
$media_md: 'screen and (max-width:#{$pc-base-size}px)';
$media_lg: 'screen and (min-width:#{$pc-base-size+1}px)';

// Fonts
$font_all: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// Colors
$color_black: #3b3b3b;
$color_white: #ffffff;

// z-index
$z-header: 100;

// CSS Variables
:root {
    --base-size: #{$pc-base-size};
    @media #{$media-sm} {
        --base-size: #{$sp-base-size};
    }
}
